@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto&display=swap');


*{
    margin: 0px;
    padding: 0px;
  }
body {
    font-size: 120%;
    background: #F8F8FF;
    background-image: url("images/background/background_etoile.jpg");
    background-attachment: fixed;
}

.admin{
    background-image: url("images/background/darthvader.png");
    width:100%;
}

a:visited {
  color: inherit;
}
  
.header {
    width: 30%;
    margin: 50px auto 0px;
    color: white;
    font-style: italic;
    background: none;
    text-align: center;
    border: 1px solid #B0C4DE;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
   
}

#title{
    color: rgb(255, 217, 0);
}

.header-admin {
    width: 30%;
    margin: 50px auto 0px;
    color: white;
    text-align: center;
    border: 1px solid #B0C4DE;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
}

.header-admin-all{
    width: 500px;
    margin: 50px auto 0px;
    color: white;
    text-align: center;
    border: 1px solid #B0C4DE;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px 0;
}

.admin_tools {
    width: 30%;
    margin: 100px auto 0px;
    background: white;
    opacity: 0.8;
    border: 1px solid #B0C4DE;
    border-radius: 10px 10px 10px 10px;
    padding : 20px;
    line-height: 40px;
    font-size: 120%;
    line-height : 50px;
}

.display_admin{
    position: relative;
    width: 500px;
    margin: 0px auto;
    padding: 10px 0px;
    background: white;
    opacity: 0.8;
    border: 1px solid #B0C4DE;
    border-radius: 0px 0px 10px 10px;

}

.display_admin p{
    height: 40px;
    line-height:40px;
    margin: 20px 70px;
    padding-left : 20px;
    position: relative;
    border: 1px solid rgb(151 22 22);
    border-radius: 3px;
}
.display_admin p span{
    margin-bottom: 5px;
}
.edit {
    display: inline-flex;
    position: absolute;
    right: 40px;
    margin-top: 5px;
    height: 30px;
    width: 30px;
    padding: 0;
    background: rgb(76, 255, 22);
    border: 1px solid black;
    outline: none;
    border-radius: 3px;
    overflow: hidden;
    font-weight: 600;
    cursor: pointer;
}
.edit:hover {
    background: rgb(59, 197, 17);
}
.edit:active {
    background: rgb(37, 126, 10);
}
.edit img{
    height: 25px;
    width: 25px;
    margin : auto auto;
}
.trash {
    display: inline-flex;
    position: absolute;
    right: 5px;
    margin-top: 5px;
    height: 30px;
    width: 30px;
    padding: 0;
    background: rgb(255, 22, 22);
    border: 1px solid black;
    outline: none;
    border-radius: 3px;
    overflow: hidden;
    font-weight: 600;
    cursor: pointer;
}
.trash:hover {
    background: rgb(199, 22, 22);
}
.trash:active {
    background: rgb(151, 22, 22);
}
.trash img{
    height: 25px;
    width: 25px;
    margin : auto auto;
}
.btn_back{
    margin-left: 20px;
    padding : 5px;
}
.btn_back2{
    position : absolute;
    margin-left: 785px;
    margin-top: -60px;
    padding : 5px;
}
.header-register {
    width: 30%;
    margin: 50px auto 0px;
    color: white;
    background: none;
    text-align: center;
    border: 1px solid #B0C4DE;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
  }

form, .content {
    width: 30%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #B0C4DE;
    background: white;
    opacity: 0.85;
    border-radius: 0px 0px 10px 10px;
}
.input-group {
    margin: 10px 0px 10px 0px;
}
.input-group label {
    display: block;
    text-align: left;
    margin: 3px;
}
.input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}
.btn {
    padding: 10px;
    font-size: 15px;
    font-weight: 700;
    color: white;
    background: #5F9EA0;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.btn-register {
    padding: 10px;
    font-size: 15px;
    font-weight: 700;
    color: white;
    background: #2d88bd;
    border: none;
    border-radius: 5px;
}

.btn-add {
    padding: 10px;
    font-size: 15px;
    font-weight: 700;
    color: white;
    background: rgb(255, 22, 22);
    border: 1px solid black;
    outline: none;
    border-radius: 3px;
    margin-right: 205px;
}
.btn-add:hover{
    background: rgb(199, 22, 22);
}
.btn-add:active{
    background: rgb(151, 22, 22);
}

.sign{
    float : right;
}
.error {
    width: 92%; 
    margin: 0px auto; 
    padding: 10px; 
    border: 1px solid #a94442; 
    color: #a94442; 
    background: #f2dede; 
    border-radius: 5px; 
    text-align: center; 
}
.error a{
  float : right;
}
.success {
    width: 92%; 
    margin: 0px auto; 
    padding: 10px; 
    color: #3c763d; 
    background: #dff0d8; 
    border: 1px solid #3c763d;
    margin-bottom: 20px;
    border-radius: 5px; 
    text-align: center; 
}

.success a{
    float : right;
}

#product_img_min {
    height : 35px;
    width : auto;
    margin-top: 3px;
}

.product_flexbox{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: space-around;
}
.search
{
    padding : 20px;
    height: 400px;
    width: 300px;
    border: 1px solid white;
    border-radius: 5px;
    margin : 20px auto;
    opacity: 0.95;
}
.product_box
{
    padding : 20px;
    height: 400px;
    width: 300px;

    border: 1px solid white;
    color: white;
    border-radius: 5px;
    margin : 20px auto;
    opacity: 0.95;
}
.prix{
    margin-top: 10px;
}
.nom h1{
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    
}
.prix h1{
    font-size: 30px;
}
.image
{
    height: 320px;
    width: 300px;
    background-color: white;
    opacity: 0.85;
    
}
.cadre
{
    display: block;
    justify-content: center;
    height: 80px;
    width: 300px; 
    
}

/* MODIF MICHAEL */
.avatar_user{
    height: 60px;
    width: 60px;
    margin-bottom: -10px;
}
.avatar_admin{
    height: 70px;
    width: 70px;
    background-image: url(images/background/background_etoile.jpg);
}
.lightsaber{
    height: 30px;
    width: 30px;
    
}
.admin_name{
    margin-left: 100px;
    margin-top: -70px;
    margin-bottom: 30px;
}
.admin_name a{
    float: right;
    margin-top: -10px;
}
.usersession_name{
    margin-left: 60px;
    margin-top: -45px;
    margin-bottom: -10px;
}
.usersession_name a{
    float: right;
}

.fb-share-button{
    float: right;
    margin-top: -48px;
}
.searchbuttons {
    font-family: 'Roboto', sans-serif;
    float: left;
    height: 400px;
    width: 300px;
    background: none;
    opacity: none;
    padding: 0;
    border: none;
}

.searchbar{

    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    width: 200px;
    height: 30px;
    margin-left: 25px;
    margin-top: 10px;
    font-size: 17px;
    padding: 3px;

}

.category{
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    margin-top: 36px;
    height: 30px;
    margin-left: 25px;
    width: 130px;
    font-size: 17px;
    padding: 3px;

}
.sort{
    margin-top: 36px;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    width: 155px;
    height: 30px;
    margin-left: 25px;
    font-size: 17px;
    padding: 3px;
   
}
.pricemin{
    margin-top: 36px;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    margin-left: 25px;
    font-size: 17px;
    padding: 3px;


}
.pricemax{
    margin-top: 36px;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    margin-left: 25px;
    font-size: 17px;
    padding: 3px;


}
.find{
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    width: 80px;
    border-color: black;
    margin-left: 200px;
    height: 30px;
    margin-left: 220px;
    font-size: 17px;
}
.background_homepage{
    background-image: url(images/background/stormtroopersnobackgrd.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 250px;
    width: auto;
}